
<body>
	<div class="indent">
		<h1>What I am Doing...</h1>
		<p>I am an aspiring web developer. I love to bring minimal and nature inspired designs into technology. I am here to solve problems and make life easier, by making efficient and reliable systems.</p>
		<h1>How I Got Here...</h1>
		<h1>Where I am Going...</h1>
	<!-- 	<img class="profile_picture" src="../../assets/images/Melissa.jpg" height="100" width="100"> -->
		<div class="profile_picture"></div>
	</div>
</body>
