<head>
	<title>LilMissMoffitt - About Me</title>
</head>
<body>
	<div class="indent">
		<h1>What I am Doing...</h1>
			<p> I am currently attending Utah Valley University working to get my bachelor's degree in Computer Science. While I am not at school I am studying programming languages and working on personal projects, such as this website! I am also attending a mentorship hosted by the Engineering department at my work, Acima Credit LLC. Here, I get to shadow Engineers and see what it's like behind the scenes. I have found this program to be very beneficial, as I have learned problem solving skills and other software/resources that are not traditionally taught.<br><br> I am currently studying JavaScript, Ruby on Rails, and anything else that may come up along the way!</p>
		<h1>How I Got Here...</h1>
			<p>I have taken an Introductory to Jave class through SLCC. I have also taken the HTML, CSS, and Ruby courses through <a class="text_link" href="https://www.codecademy.com/" target="_blank">Codecademy</a>. I am working through the Complete Web Developer 2.0 course through <a class="text_link" href="https://www.udemy.com/" target="_blank">Udemy</a>. </p>
		<h1>Where I am Going...</h1>
			<p>I am an aspiring web developer. I love to bring minimal and nature inspired designs into technology. I am here to solve problems and make life easier, by making efficient and reliable systems. </p>

	<!-- 	<img class="profile_picture" src="../../assets/images/Melissa.jpg" height="100" width="100"> -->
		<div class="profile_picture"></div>
	</div>
</body>
