<!DOCTYPE html>
<html>
<head>
  <title>LilMissMoffitt - Connect</title>  

  <meta charset="utf-8"/>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale-1"/>
  <link rel="stylesheet" type="text/css" href="../css/styles.css"> 
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Great+Vibes|IBM+Plex+Sans&display=swap" rel="stylesheet">

</head>
<body>
 <div class="connect_background"> 
    <div class="connect_form">
      <h1>CONNECT WITH ME</h1>

      <form>
        <p class="connect_form_elements"><input type="text" name = "fn" placeholder="First Name">
        <input type="text" name ="ln"placeholder="Last Name">
        </p>
        <p class="connect_form_elements"><input type="text" name="email" placeholder="example@email.com"> 
        </p>
        
       <!--  <form method="get" ID="contact_message">
        </form> -->
          <textarea class= "connect_form_elements" form="contact_message" name="contactmessage" id="cmid" cols="35" wrap="soft" placeholder="Type message here"></textarea> <br>
        <input type="submit"/>
      </form>
    </div>
  </div>
</body>

</html>